{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
  <form method="get" style="margin-bottom:12px;">
  <input type="text" name="q" placeholder="Search tasks..." value="{{ search_query }}">
  <button type="submit">Search</button>
  {% if request.GET.my %}<input type="hidden" name="my" value="{{ request.GET.my }}">{% endif %}
  {% if request.GET.created %}<input type="hidden" name="created" value="{{ request.GET.created }}">{% endif %}
  {% if request.GET.done %}<input type="hidden" name="done" value="{{ request.GET.done }}">{% endif %}
  {% if request.GET.priority %}<input type="hidden" name="priority" value="{{ request.GET.priority }}">{% endif %}
  </form>

<h1>Tasks</h1>

<p>
  <a href="?my=1">My</a> |
  <a href="?done=0">Incomplete</a> |
  <a href="?done=1">Completed</a> |
  <a href="{% url 'tracker:tasktype-list' %}">Task types</a> |
  <a href="{% url 'tracker:task-create' %}">+ Create</a> |
</p>

<ul>
  {% for task in object_list %}
    <li>
      <a href="{% url 'tracker:task-detail' task.pk %}">{{ task.name }}</a>
      — {{ task.task_type.name }} — {{ task.get_priority_display }}
      {% if task.deadline %} — deadline: {{ task.deadline }}{% endif %}
      — assignees:
          {{ form.assignees.label_tag }}
          {{ form.assignees }}
      — {% if task.is_completed %}✅{% else %}❌{% endif %}
      — <a href="{% url 'tracker:task-toggle' task.pk %}">toggle</a>
    </li>
  {% empty %}
    <li>No tasks yet.</li>
  {% endfor %}
</ul>
{% endblock %}
